@import '../styles/Responsive.scss';

.movieInfo{
    display: flex;
    align-items: flex-start;
    height: 100vh;
    gap: 2rem;

    @include Tablet{
        width: 100%;
        flex-direction: column;
    }
    
    @include Mobile{

    }

.checkk{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .posterWrapper{
        width: 1170px;
        height: 350px;
        margin-top: 3rem;
        margin-right: 2rem;


        @include Tablet{
            width: 100%
        }
        
        .poster{
            width: 100%;
            height: 100%;
            border-radius: 30px;
    
            @include Tablet{
                height: 400px;
                object-fit: cover;
                border-radius: initial;
            }
            
            @include Mobile{
            height: 300px;
            object-fit: cover;
            }
        }
    }

    .section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 3rem;
        margin-bottom: 1rem;

        @include Tablet{
            flex-direction: column;
            align-items: flex-start;
            padding-inline: 1rem;
            gap: 1rem;
        }
    }

    .sec1{
        margin-top: 2rem;
        h1{
            font-size: 1.5rem;
        }
    }

    .sec2{

        .showtimes{
            display: flex;
            align-items: center;
            gap: .3rem;
            color: #fff;
            background: #be123c;
            padding-block: 0.5rem;
            border-radius: 10px;
            font-size: 1rem;
            padding-inline: 1rem;
            cursor: pointer;
            width: 215px;
        }
    }

    .sec3{
        .more{
            background: #efb2c2;
            border-radius: 10px;
            padding-block: 0.5rem;
            padding-inline: 1rem;
            border: 1px solid #be123c;
            width: 215px;
            display: flex;
            align-items: center;
            gap: .3rem;
            cursor: pointer;

        }

        .overview{
            width: 600px;


        @include Tablet{
            width: 100%;
        }

        }
    }

    
    .title{
        font-size: 7rem;

        @include Tablet{
            font-size: 5rem;
        }
        
        @include Mobile{
            font-size: 2rem;
        }

    }

    .movieDetails{

        @include Tablet{
            bottom: 1rem;
            left: 2rem;
        }
        
        @include Mobile{
            bottom: 1rem;
            left: 2rem;
        }       

       .left{
        display: flex;
        align-items: center;
        gap: 1rem;

       } 

       .overview{
        width: 400px;
        line-height: 25px;

        @include Tablet{
            width: 100%;
        }

        
        @include Mobile{
            width: 100%;
            padding-right: 1rem;
        }  
       }

       .releaseDate{
        margin-top: 2rem;
        font-size: 14px;
       }
    }
}

}